{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artists' Books{{ block "title" . }}{{ end }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="site-header">
      <a class="logo" href="/">Artists' Books</a>
      <nav>
        <a href="/construction.html">Construction</a>
        <a href="/references.html">Reference Works</a>
        <a href="/subjects.html">Subjects</a>
      </nav>
    </header>
    <main>
    {{ block "content" . }}{{ end }}
    </main>
  </body>
</html>
{{ end }}
