.DS_Store

# Zotero storage noise - web snapshot assets
Zotero/storage/**/*.gif
Zotero/storage/**/*.jpg
Zotero/storage/**/*.jpeg
Zotero/storage/**/*.png
Zotero/storage/**/*.ico
Zotero/storage/**/*.js
Zotero/storage/**/*.css
