/* -- THIS IS A TEMP PRINT CSS, near direct copy of screen.css, enables near true print for staff -- */
/* CHANGES FROM screen.css:
	npmangin - hide display of mouseover navigation
	npmangin - hide display of TOCs
*/

/* -- CSS FOR SCREEN, 2005.03.18 -- */


#tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7 {
	display:none;
	visibility: hidden;
	}

.topform {
	display:none;
	visibility: hidden;
}

.sortby {
	display:none;
	visibility: hidden;
}

#tabnav{
	display:none;
	visibility: hidden;
}

.record_export{
	display:none;
	visibility: hidden;
}

.xboxcontent{
	border-width: 0px;
}

#tabs ul{
	display:none;
	visibility: hidden;
}

#chatbox {
	display:none;
	visibility: hidden;
}

.section_facets{
	display:none;
	visibility: hidden;
}

#main_results_wrapper>#results_wrapper {
  width: 100%;
}

#results_wrapper{
	margin: 0px;
	width: 100%;
}

	

/* redefined tags */
body, input, select, textarea {  
	font-family: verdana, arial, sans-serif; 
	font-size: 10px;
}
body {
	background-color: #acac9f;
	margin-top: 13px;
}
h1 {
	font-size:13px; 
	text-transform: uppercase;
}
h2 { 
	font-size:12px; 
} 
h3 { 
	font-size:11px; 
} 
h1, h2, h3 { 
   padding-top:4px; 
   padding-bottom:4px;	
} 
form {
	padding: 0;
	margin: 0;
}
/*	
p {
   margin-top: 7px; margin-bottom: 7px;
	padding-top:2px; padding-bottom:2px; 
}*/
hr {
	color: #d6d6d6;
	background-color: #d6d6d6;
    height: 1px;
    border: 0;
}

.smshidden, #email {
	visibility: hidden;
	display: none;
}
