{{ template "base" . }}

{{ define "title" }} - {{ .title }}{{ end }}

{{ define "content" }}
<h1>{{ .title }}</h1>

<dl>
  {{ with .primaryCreators }}
  <dt>Primary creators</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .contributors }}
  <dt>Contributors</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .publisher }}
  <dt>Publisher</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .place }}
  <dt>Place of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .date }}
  <dt>Date of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .language }}
  <dt>Language</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .extent }}
  <dt>Extent</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .illustrativeContent }}
  <dt>Illustrative content</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .dimensions }}
  <dt>Dimensions</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .edition }}
  <dt>Edition</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .summary }}
  <dt>Summary</dt>
    <dd>{{ . }}</dd>
  {{ end }}

  {{ with .constructionTerms }}
  <dt>Construction Techniques, Materials, and Production Methods</dt>
  <dd>
  {{- range $i, $t := (split . "\n") }}{{ $p := split $t "\t" }}
  {{- if $i }}; {{ end }}<a href="/construction/{{ index $p 0 }}">{{ index $p 1 }}</a>
  {{- end }}
  </dd>
  {{ end }}

  {{ with .subjectTerms }}
  <dt>Subjects</dt>
  <dd>
  {{- range $i, $t := (split . "\n") }}{{ $p := split $t "\t" }}
  {{- if $i }}; {{ end }}<a href="/subject/{{ index $p 0 }}">{{ index $p 1 }}</a>
  {{- end }}
  </dd>
  {{ end }}

  {{ with .isbns }}
  <dt>ISBN</dt>
  <dd>{{ . }}</dd>
  {{ end }}

 {{ with .oclcNumbers }}
  <dt>WorldCat</dt>
  <dd>
    <a href="{{ $.worldcatLink }}">{{ . }}</a>
  </dd>
  {{ end }}
</dl>

{{ with .citedBy }}
<h2>Cited by</h2>
<ul class="mb">
{{- range (split . "\n") }}
{{- $pair := split . "\t" }}
<li><a href="/reference/{{ index $pair 0 }}">{{ index $pair 1 }}</a></li>
{{- end }}
</ul>
{{ end }}
{{ end }}
