{{ template "base" . }}

{{ define "title" }} - {{ .title }}{{ end }}

{{ define "content" }}
<h1>{{ .title }}</h1>
<p class="mb"><em>Reference work</em></p>

<dl>
  {{ with .creator }}
  <dt>Creator</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .publisher }}
  <dt>Publisher</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .place }}
  <dt>Place of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .date }}
  <dt>Date of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .language }}
  <dt>Language</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .isbns }}
  <dt>ISBN</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .oclcNumber }}
  <dt>WorldCat</dt>
  <dd><a href="{{ $.worldcatLink }}">{{ . }}</a></dd>
  {{ end }}
</dl>

{{ with .citedBooks }}
<h2>Cites</h2>
<ul class="mb">
{{- range (split . "\n") }}
{{- $fields := split . "\t" }}
{{- $pageNumbers := index $fields 2 }}
{{- $imagePageNumbers := index $fields 3 }}
<li>
  <a href="/item/{{ index $fields 0 }}">{{ index $fields 1 }}</a>
  {{- with $pageNumbers }} — cited on page(s) {{ . }}{{ end }}
  {{- with $imagePageNumbers }}
    {{- if $pageNumbers }}; image(s) on page(s) {{ . }}
    {{- else }} — image(s) on page(s) {{ . }}
    {{- end }}
  {{- end }}
</li>
{{- end }}
</ul>
{{ end }}
{{ end }}
