{{ template "base" . }}

{{ define "title" }} - {{ .title }}{{ end }}

{{ define "content" }}
<h1>{{ .title }}</h1>
<p class="mb"><em>Reference work</em></p>

<dl>
  {{ with .publisher }}
  <dt>Publisher</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .place }}
  <dt>Place of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .date }}
  <dt>Date of publication</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .language }}
  <dt>Language</dt>
  <dd>{{ . }}</dd>
  {{ end }}

  {{ with .isbns }}
  <dt>ISBN</dt>
  <dd>{{ . }}</dd>
  {{ end }}
</dl>

{{ with .citedBooks }}
<h2>Cites</h2>
<p>{{ . }}</p>
{{ end }}
{{ end }}
